.box{
    border:2px solid black;
    height: 200px;
    width:200px;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
    box-sizing: border-box;
}
#box1{
    background-image: linear-gradient(red,green);

}
#box2{
    background-image: linear-gradient(to top,yellow,blue,orange);
}
#box3{
    background-image: linear-gradient(orange,white,green);
}
#box4{
    background-image: linear-gradient(to right,lightblue,lightgreen);
    }
#box5{
    background-image: linear-gradient(to left,rgb(230, 173, 215),rgb(144, 224, 238));
    }
#box6{
background-image: linear-gradient(to left top,gray,lightyellow);
     }
#box7{
    background-image: linear-gradient(to right top,lightblue,lightgreen);
    } 
#box8{
    background-image: linear-gradient(to left top,rgb(46, 48, 48),rgb(186, 204, 186));
     }           